@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow: scroll;
    overflow-x: hidden;
}

body{
    background-color: #f3f2ee;
    color:#1d1d1d;
}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: #ff0000;
}

:root {
    --dynamic-top: 600px;
}
  
.work{
    top: var(--dynamic-top);
}