@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f3f2ee;
    color:#1d1d1d;
}

html{
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: #ff0000;
}

